/*Importing fonts*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:300,400,500,700");

/* Importing all components file */
@import url("components/button.css");

/* General for fonts and colors */
body {
  margin: 100px;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
.text-center {
  text-align: center;
}

.btn-medium {
	color: rgb(200, 200, 200);
	border: 1px solid rgb(200, 200, 200);
	border-radius: 30px;
	padding: 13px 23px;
}

.btn-medium:hover {
	color: rgb(150, 150, 150);
	border: 1px solid rgb(150, 150, 150);
}

.btn-treehouse {
	color: white;
	font-weight: bold;
	background-color: green;
	border-radius: 4%;
	padding: 13px 23px;
}

.btn-treehouse:hover {
	background-color: black;
	transition: background 0.3s ease;
}